<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>IoT Notifier</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style type="text/css">
		
	</style>
</head>
<body id="root">
	<script type="text/javascript">
		function sendNotify() {
			xhttp.open("GET", "/notify?duration=" + duration, true);
			xhttp.send();
		}
		function endNotify() {
			xhttp.open("GET", "/stop", true);
			xhttp.send();
		}
	</script>
	<button onmousedown="sendNotify" onmouseup="endNotify"></button>
</body>
</html>
