<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>IoT Notifier</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style type="text/css">
		#honk-if-you-gottem {
			width: 50%;
			height: 50%;
		}
	</style>
</head>
<body id="root">
	<script type="text/javascript">
		function sendNotify() {
			let xhttp = new XMLHttpRequest();
			xhttp.open("GET", "/notify", true);
			xhttp.send();
		}
		function endNotify() {
			let xhttp = new XMLHttpRequest();
			xhttp.open("GET", "/stop", true);
			xhttp.send();
		}
	</script>
	<button id="honk-if-you-gottem" onmousedown="sendNotify" onmouseup="endNotify">Honk</button>
</body>
</html>
